.header {
  background: url("../images/Rectangle.svg") no-repeat;
  background-size: contain;
  width: 100%;
  height: 56vw;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__top {
    z-index: 3;
    position: relative;
    width: 66%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &--img1 {
      position: relative;
      bottom: -5vw;
      width: 10vw;
    }

    &--img2 {
      width: 7%;
      height: 6vw;
    }

    &--img3 {
      width: 21%;
    }
  }

  &__center {
    z-index: 4;
    position: relative;
    width: 66%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 6vw;

    &--img1 {
      width: 100%;
    }

    &--img2 {
      width: 72%;
      position: absolute;
    }
  }

  &__down {
    z-index: 1;
    position: relative;
    width: 66%;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    &--img1 {
      width: 24%;
      position: relative;
      left: -9vw;
      top: -5vw;
    }

    &--img2 {
      width: 7%;
      margin-right: 50vw;
    }

    &--img3 {
      width: 25%;
      position: absolute;
      right: -10vw;
      top: -10vw;
    }

    &--img4 {
      width: 12%;
    }
  }
}

.loading {
  display: none;

  &__text {
    font-style: normal;
    font-weight: normal;
    font-size: 370px;
    line-height: 25vw;
    text-align: center;
    text-transform: uppercase;
    margin-top: 15vw;
    color: rgba(100, 60, 90, 0.2);
  }

  &__img {
    position: absolute;
    top: 20%;
    left: 30%;
    width: 200px;
    height: 200px;
  }
}
