@import 'vars.scss';

.nav {
  position: absolute;
  top: 0;

  width: 90%;
  display: flex;
  justify-content: space-between;

  &__img {
    width: 2vw;
    height: 2vw;
  }

  &__contact-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 12%;
  }

  &__img-wrapper--bg {
    width: 3vw;
    height: 3vw;
    background-color: $main-text-color2;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }

  &__img-wrapper--bg-no {
    width: 3vw;
    height: 3vw;
    padding: 0.3vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }

  &__contact--white {
    color: $main-text-color2;
  }

  &__contact--dark {
    color: $text-color;
  }
}

span {
  display: block;
}
