@import "header.scss";
@import "nav.scss";
@import "clients.scss";
@import "vars.scss";
@import "typography.scss";
@import "wedo.scss";
@import "team.scss";
@import "contacts.scss";
@import "carousel.scss";

body {
  font-family: "Archivo", sans-serif;
  background-color: $section-bg;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul {
  padding: 0;
  margin: 0;
}

.logo {
  color: hsl(353, 96%, 44%);
  font-size: 2vw;
  font-weight: bold;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
}


html {
  cursor: none;

  &:hover
  a:hover {
    cursor: none;
  }
}

.cursor {
  width: 1vw;
  height: 1vw;
  color: white;
  position: absolute;
  background-color: red;
  border-radius: 50%;
  z-index: 15;
  font-weight: bold;
  font-size: 12px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  // -webkit-box-shadow: 10px 10px 30vw 30vw rgba(243,81,139,0.9);
  // -moz-box-shadow: 10px 10px 30vw 30vw rgba(243,81,139,0.9);
  box-shadow: 10px 10px 30vw 15vw rgba(243,81,139,0.7);
}

@keyframes bg-animation {
  0% {
    width: 10%;
  }

  100% {
    width:100%;
  }
}
