@import 'vars.scss';

.team {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  padding-bottom: 5vw;
  position: relative;

  z-index: 11;
  background-color: $section-bg;

  &__decor {
    position: absolute;
    z-index: 3;
    transition: 1s;

    &--1 {
      bottom: -3vw;
      left: 5vw;
      width: 10vw;
    }

    &--2 {
      top: -6vw;
      right: 37vw;
      width: 20vw;
    }

    &--3 {
      bottom: -8vw;
      right: 8vw;
      width: 20vw;
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    padding: 0 3%;
    position: relative;
  }

  &__info {
    position: absolute;
    top: 0;
    left: 0;

    border-radius: 1vw;
    padding: 40% 20%;
    width: 100%;
    height: 100%;

    color: $main-text-color2;
    background-color: $main-bg-color2;

    opacity: 0;
    transition: opacity 1s;
    text-align: center;

    &:hover {
      opacity: 0.9;
    }
  }
}
