@import "vars.scss";

h2 {
  font-size: 40px;
  line-height: 40px;
  color: #383030;
  font-weight: 700px;
  margin-bottom: 20px;
}

h3 {
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 40px;
  color: hsl(0, 0%, 100%);
  margin: 20px 0;
}

h4 {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 17px;
  text-align: center;
  letter-spacing: 0.428571px;
}

a {
  text-decoration: none;
}

.general-text {
  font-size: 16px;
  line-height: 26px;
  color: hsl(315, 25%, 31%);
}

.names {
  font-size: 16px;
  line-height: 17px;
  color: $names-color;
}

.clients__view-all {
  font-size: 12px;
  color: hsl(353, 83%, 45%);
}

.clients__link {
  font-size: 12px;
  line-height: 13px;
}

.clients__name {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 17px;
  padding: 10px 0;
  color: #383030
}

.wedo__name {
  font-weight: bold;
  font-size: 36px;
  line-height: 46px;
  text-align: center;
  color: hsl(0, 0%, 100%);
}
