$section-bg: #ffecee;
$max-width: 1900px;
$text-color: rgb(22, 20, 21);
$text-color-header: rgb(99, 59, 89);
$names-color: rgb(55, 47, 47);
$main-bg-color1: rgba(100, 60, 90, 0.2);
$main-bg-color2: hsl(353, 96%, 44%);
$main-bg-color3: rgba(100, 60, 90, 0.2);
$main-text-color2: white;
$wedo-item-color: rgba(100, 60, 90, 0.2);
$wedo-section-color: hsl(295, 92%, 5%);
